// reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

// variables
$primary-color: #00a5b4;
$secondary-color: #cefbff;
$white: #ffffff;
$grey-1: #bdbdbd;
$grey-2: #616161;
$grey-3: #424242;
$grey-4: #212121;

// mixins
@mixin btn {
  background-color: $primary-color;
  padding: 14px 24px;
  color: $white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@mixin container {
  padding: 28px 10%;
}

// main
div.main {
  background: linear-gradient(
    180deg,
    #e5fffa 0%,
    rgba(229, 255, 249, 0.262661) 83.7%,
    rgba(229, 255, 249, 0) 100%
  );

  .container {
    @include container();

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 42px;
    }

    ul.links {
      list-style: none;
      display: flex;
      align-items: center;

      li > a {
        text-decoration: none;
        margin: 0 20px;
        color: $grey-3;
      }

      .btn {
        @include btn();
        margin: 0 30px;
      }
    }

    main {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .heading {
        width: 470px;

        h1 {
          margin-bottom: 30px;
          span {
            color: $primary-color;
          }
        }

        p {
          margin-bottom: 40px;
        }

        .btn {
          @include btn();
        }
      }

      div.right {
        width: 972px;
        height: 100%;
        background-image: url(./assets/bgcards.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;

        img.female {
          width: 60%;
        }
      }
    }

    .cards {
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .card {
        width: 300px;
        height: 200px;
        color: $grey-2;
        display: flex;
        flex-direction: column;

        * {
          margin-bottom: 16px;
        }

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

// services
div.services-container {
  @include container();
  background-color: #f5fffc;

  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    // .swiper {
    //   width: 100%;
    //   height: 100%;

    //   .swiper-wrapper {

    //     .swiper-slide {
    //       text-align: center;
    //       font-size: 18px;
    //       background: #fff;

    //       .card {
    //         width: 250px;
    //         border-radius: 8px;
    //         overflow: hidden;
    //         background-color: #fafafa;
    //         box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.06);
    
    //         div.img {
    //           height: 50%;
    //           background-color: $secondary-color;
    //           text-align: right;
    
    //           img {
    //             width: 75%;
    //           }
    //         }
    
    //         div.text {
    //           height: 184px;
    //           padding: 24px 16px;
    //           display: flex;
    //           flex-direction: column;
    //           justify-content: space-between;
    
    //           h6 {
    //             font-size: 20px;
    //           }
    
    //           div.body {
    //             display: flex;
    //             justify-content: space-between;
    
    //             div.left {
    //               display: flex;
    //               gap: 5px;
    //             }
    
    //             div.right {
    //               display: flex;
    //               gap: 5px;
    //             }
    //           }
    
    //           button {
    //             @include btn();
    //           }
    //         }
    //       }
    //     }
    //   }
    //   .swiper-pagination {
    //     margin-top: 30px
    //   }
    // }

    .cards {
      display: flex;
      justify-content: space-between;

      .card {
        width: 250px;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fafafa;
        box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.06);

        div.img {
          height: 50%;
          background-color: $secondary-color;
          text-align: right;

          img {
            width: 75%;
          }
        }

        div.text {
          height: 184px;
          padding: 24px 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h6 {
            font-size: 20px;
          }

          div.body {
            display: flex;
            justify-content: space-between;

            div.left {
              display: flex;
              gap: 5px;
            }

            div.right {
              display: flex;
              gap: 5px;
            }
          }

          button {
            @include btn();
          }
        }
      }
    }
  }
}

// campaigns
div.campaigns {
  .container {
    @include container();

    .heading {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .btn-all {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
          text-decoration: none;
          color: $primary-color;
          size: 16px;
        }
      }
    }

    h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .cards {
      display: flex;
      justify-content: space-between;

      .card {
        width: 350px;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fafafa;
        box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.06);

        .img {
          height: 327px;
        }

        .text {
          padding: 20px 16px;

          h6 {
            font-size: 20px;
            margin-bottom: 8px;

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// calculations
div.calculations {
  width: 100%;
  background-color: #f0fffc;

  .container {
    @include container();
    height: 100%;

    .calculations-box {
      height: 100%;
      margin: 20px 0;

      display: flex;
      gap: 22px;

      div.left {
        width: 50%;
        padding: 24px 32px;
        background-color: $white;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div.loan-amount {
          flex: 3;
          margin-bottom: 50px;

          p {
            margin-bottom: 4px;
          }

          h6 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
          }

          div.slidecontainer {

            .slider {
              -webkit-appearance: none;  /* Override default CSS styles */
              appearance: none;
              width: 100%; /* Full-width */
              height: 10px; /* Specified height */
              border-radius: 10px;
              background: #E6F6F3; /* Grey background */
              outline: none; /* Remove outline */
              opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
              -webkit-transition: .2s; /* 0.2 seconds transition on hover */
              transition: opacity .2s;

              &::-webkit-slider-runnable-track {
                // height: 10px;
                -webkit-appearance: none;
                color: #13bba4;
              }
            }
            
            /* Mouse-over effects */
            .slider:hover {
              opacity: 1; /* Fully shown on mouse-over */
            }
            
            /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
            .slider::-webkit-slider-thumb {
              -webkit-appearance: none; /* Override default look */
              appearance: none;
              width: 20px; /* Set a specific slider handle width */
              height: 20px; /* Slider handle height */
              border-radius: 50%;
              border: 4px solid white;
              background: $primary-color; /* Green background */
              cursor: pointer; /* Cursor on hover */
            }

            .amounts {
              width: 100%;
              display: flex;
              justify-content: space-between;

              span {
                font-size: 14px;
              }
            }
          }
        }

        div.loan-period {
          flex: 3;
          margin-bottom: 50px;

          p {
            margin-bottom: 4px;
          }

          h6 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
          }

          div.slidecontainer {

            .slider {
              -webkit-appearance: none;  /* Override default CSS styles */
              appearance: none;
              width: 100%; /* Full-width */
              height: 10px; /* Specified height */
              border-radius: 10px;
              background: #E6F6F3; /* Grey background */
              outline: none; /* Remove outline */
              opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
              -webkit-transition: .2s; /* 0.2 seconds transition on hover */
              transition: opacity .2s;

              &::-webkit-slider-runnable-track {
                // height: 10px;
                -webkit-appearance: none;
                color: #13bba4;
              }
            }
            
            /* Mouse-over effects */
            .slider:hover {
              opacity: 1; /* Fully shown on mouse-over */
            }
            
            /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
            .slider::-webkit-slider-thumb {
              -webkit-appearance: none; /* Override default look */
              appearance: none;
              width: 20px; /* Set a specific slider handle width */
              height: 20px; /* Slider handle height */
              border-radius: 50%;
              border: 4px solid white;
              background: $primary-color; /* Green background */
              cursor: pointer; /* Cursor on hover */
            }

            .amounts {
              width: 100%;
              display: flex;
              justify-content: space-between;

              span {
                font-size: 14px;
              }
            }
          }
        }

        div.total {
          flex: 1;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }

      div.right {
        width: 50%;
        background-color: $white;
        padding: 32px 24px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row {
          display: flex;
          gap: 10px;

          input {
            width: 100%;
            padding: 12px 16px;
            border-radius: 4px;
            border: 1px solid #e0e0e0;

            ::placeholder {
              color: rgba(0, 0, 0, 0.54);
            }
          }

          select {
            width: 106px;
            padding: 12px 10px;
            border-radius: 4px;
            border: 1px solid #e0e0e0;

            &:first-child {
              color: rgba(0, 0, 0, 0.54);
            }
          }
        }

        .fourth-row {
          display: flex;
          align-items: center;

          p {
            font-size: 12px;
            font-weight: 400;
          }

          button {
            @include btn();
            width: 160px;
          }
        }
      }
    }
  }
}

//partners
div.partners-container {
  @include container();

  .partners {
    .heading {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .btn-all {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
          text-decoration: none;
          color: $primary-color;
          size: 16px;
        }
      }
    }

    .partner-logos {
      display: flex;
      justify-content: space-between;

      .brand-box {
        width: 135px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

//useful
.useful-info-container {
  @include container();
  background-color: #f5fffc;
  height: 503px;

  .useful-info-box {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 30px 0;
    }

    div.body {
      display: flex;
      gap: 21px;

      .left {
        width: 567px;
        background-color: $white;
        padding: 40px 10px 40px 40px;

        .heading {
          display: flex;
          justify-content: space-between;
        }

        .currency-boxes {
          display: flex;

          .currency-box {
            width: 173px;
            height: 208px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .currency {
              display: flex;
              align-items: center;
            }
          }

          .arrow-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 20px;
            margin-bottom: 35px;
          }
        }
      }

      .right {
        width: 567px;
        background-color: $white;
        padding: 40px;

        p {
          margin-bottom: 40px;
        }

        .select-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .input {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            border-bottom: 1.5px solid rgba(0, 165, 180, 0.2);

            input {
              height: 48px;
              border: none;
            }

            select {
              height: 48px;
              border: none;
            }
          }
        }
      }
    }
  }
}

//footer
footer {
  padding: 50px 10%;
  height: 346px;
  background-color: $grey-4;
  display: flex;
  justify-content: space-between;

  .logo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .up > img {
      margin-bottom: 16px;
    }
  }

  .box {
    width: 220px;

    h5 {
      color: $white;
      margin-bottom: 24px;
    }

    p {
      color: $grey-1;
    }
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 15px;
      a {
        color: $grey-1;
      }
    }

    div.socials {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }
}
